/*CSS file*/
/*ePortfolio home*/

.video{
    text-align: center;
    padding-bottom: 20px;
}

.projects{
    padding: 20px;
    background-color: lightseagreen;
    text-align: center;
}
