/*CSS eportfolio contact*/

table tr td{
    padding:10px;
    padding-bottom: 0;
    padding-top: 0;
}

td{
    
}

p{
    padding-top: 40px;
}

img.profile{
    float: right;
    padding-bottom: 40px;
}